@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background: #eee;
  overflow: hidden;
}

.widgetWrapper {
  width: 80vh;
  height: 80vh;
  padding: 4vh;
  position: fixed;
  background: white;
  border-radius: 20px;
  left: 50%;
  top: 50%;
  margin: -40vh;
  box-shadow: 0px 11px 73px -12px #a0a0a0;
}
